:root {
  --text-sm-semibold-font-family: 'Syne', sans-serif;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-font-style: normal;
  --text-sm-semibold-font-weight: 600;
  --text-sm-semibold-letter-spacing: 0;
  --text-sm-semibold-line-height: 20px;
  
  --text-md-semibold-font-family: 'Syne', sans-serif;
  --text-md-semibold-font-size: 16px;
  --text-md-semibold-font-style: normal;
  --text-md-semibold-font-weight: 600;
  --text-md-semibold-letter-spacing: 0;
  --text-md-semibold-line-height: 24px;
  
  --brand-900: #1A1A1A;
  --focus-rings-focus-ring: 0 0 0 2px rgba(59, 130, 246, 0.5);
  --shadows-shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadows-shadow-xs-skeuomorphic: 0 1px 2px rgba(0, 0, 0, 0.25);
  --focus-rings-focus-ring-shadow-xs-skeuomorphic: 0 0 0 2px rgba(59, 130, 246, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25);
}

.buttons-button {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.buttons-button .buttons-button-loading-icon {
  background-image: unset !important;
}

.buttons-button .text-padding {
  position: relative;
}

.buttons-button .text {
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.buttons-button .text-wrapper {
  text-decoration: underline;
}

.buttons-button.secondary {
  border: 1px solid;
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.tertiary {
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.focused {
  overflow: hidden;
}

.buttons-button.primary {
  border-radius: 8px;
  overflow: hidden;
}

.buttons-button.focused.link-color {
  background-color: #ffffff00;
  border-radius: 4px;
  box-shadow: var(--focus-rings-focus-ring);
}

.buttons-button.secondary.default {
  background-color: #333333;
  border-color: #666666;
  box-shadow: var(--shadows-shadow-xs-skeuomorphic);
}

.buttons-button.icon-only-true.sm {
  padding: 8px;
}

.buttons-button.lg.link-gray {
  gap: 6px;
}

.buttons-button.secondary.hover {
  background-color: #4d4d4d;
  border-color: #666666;
  box-shadow: var(--shadows-shadow-xs-skeuomorphic);
}

.buttons-button.secondary.disabled {
  background-color: #333333;
  border-color: #4d4d4d;
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.icon-only-false.sm {
  gap: 4px;
}

.buttons-button.loading.tertiary {
  background-color: #4d4d4d;
}

.buttons-button.focused.tertiary {
  background-color: #333333;
  box-shadow: var(--focus-rings-focus-ring);
}

.buttons-button.secondary.loading {
  background-color: #4d4d4d;
  border-color: #666666;
  box-shadow: var(--shadows-shadow-xs-skeuomorphic);
}

.buttons-button.primary.hover {
  box-shadow: var(--shadows-shadow-xs-skeuomorphic);
}

.buttons-button.focused.link-gray {
  background-color: #ffffff00;
  border-radius: 4px;
  box-shadow: var(--focus-rings-focus-ring);
}

.buttons-button.lg.icon-only-true {
  padding: 12px;
}

.buttons-button.primary.default {
  background-color: #f2f8ff;
  box-shadow: var(--shadows-shadow-xs-skeuomorphic);
}

.buttons-button.icon-only-false.md {
  gap: 4px;
}

.buttons-button.primary.loading {
  background-color: #000000;
  box-shadow: var(--shadows-shadow-xs-skeuomorphic);
}

.buttons-button.focused.primary {
  background-color: #f2f8ff;
  box-shadow: var(--focus-rings-focus-ring-shadow-xs-skeuomorphic);
}

.buttons-button.icon-only-true.md {
  padding: 10px;
}

.buttons-button.primary.disabled {
  background-color: #4d4d4d;
  box-shadow: var(--shadows-shadow-xs);
}

.buttons-button.icon-only-true.xl {
  padding: 14px;
}

.buttons-button.focused.secondary {
  background-color: #333333;
  border-color: #666666;
  box-shadow: var(--focus-rings-focus-ring-shadow-xs-skeuomorphic);
}

.buttons-button.icon-only-false.xl {
  gap: 6px;
}

.buttons-button.hover.tertiary {
  background-color: #4d4d4d;
}

.buttons-button.lg.link-gray.loading {
  min-height: 24px;
}

.buttons-button.primary.icon-only-true.hover {
  background-color: #808080;
}

.buttons-button.icon-only-false.primary.md {
  padding: 10px 14px;
}

.buttons-button.link-gray.xl.loading {
  gap: 6px;
  min-height: 24px;
}

.buttons-button.lg.default.icon-only-false {
  gap: 6px;
}

.buttons-button.lg.focused.link-color {
  gap: 8px;
}

.buttons-button.xl.disabled.link-color {
  gap: 6px;
}

.buttons-button.lg.default.link-color {
  gap: 6px;
}

.buttons-button.icon-only-false.sm.tertiary {
  padding: 8px 12px;
}

.buttons-button.icon-only-false.secondary.sm {
  padding: 8px 12px;
}

.buttons-button.lg.tertiary.icon-only-false {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.icon-only-false.secondary.xl {
  padding: 12px 18px;
}

.buttons-button.lg.link-color.disabled {
  gap: 8px;
}

.buttons-button.icon-only-false.xl.tertiary {
  padding: 12px 18px;
}

.buttons-button.icon-only-false.md.tertiary {
  padding: 10px 14px;
}

.buttons-button.lg.link-color.loading {
  gap: 8px;
  min-height: 24px;
}

.buttons-button.icon-only-false.secondary.md {
  padding: 10px 14px;
}

.buttons-button.icon-only-false.primary.sm {
  padding: 8px 12px;
}

.buttons-button.lg.secondary.icon-only-false {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.lg.hover.link-color {
  gap: 8px;
}

.buttons-button.lg.primary.icon-only-false {
  gap: 6px;
  padding: 10px 16px;
}

.buttons-button.icon-only-false.primary.hover {
  background-color: #4d4d4d;
}

.buttons-button.xl.loading.link-color {
  gap: 6px;
  min-height: 24px;
}

.buttons-button.link-gray.xl.disabled {
  gap: 6px;
}

.buttons-button.icon-only-false.primary.xl {
  padding: 12px 18px;
}

.buttons-button.icon-only-false.xl.loading.tertiary {
  min-height: 48px;
}

.buttons-button.lg.tertiary.loading.icon-only-false {
  min-height: 44px;
}

.buttons-button.lg.secondary.loading.icon-only-false {
  min-height: 44px;
}

.buttons-button.icon-only-false.secondary.xl.loading {
  min-height: 48px;
}

.buttons-button.icon-only-false.primary.xl.loading {
  min-height: 48px;
}

.buttons-button.lg.primary.loading.icon-only-false {
  min-height: 44px;
}

.buttons-button.md .text-padding {
  font-style: var(--text-sm-semibold-font-style);
}

.buttons-button.sm .text-padding {
  font-style: var(--text-sm-semibold-font-style);
}

.buttons-button.secondary .text-padding {
  align-items: center;
  color: #cccccc;
  display: inline-flex;
  flex: 0 0 auto;
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  justify-content: center;
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  padding: 0px 2px;
}

.buttons-button.hover .text-padding {
  font-style: var(--text-sm-semibold-font-style);
}

.buttons-button.tertiary .text-padding {
  align-items: center;
  color: #cccccc;
  display: inline-flex;
  flex: 0 0 auto;
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  justify-content: center;
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  padding: 0px 2px;
}

.buttons-button.link-color .text-padding {
  margin-top: -1.00px;
  width: fit-content;
}

.buttons-button.link-gray .text-padding {
  margin-top: -1.00px;
  width: fit-content;
}

.buttons-button.primary .text-padding {
  align-items: center;
  color: #cccccc;
  display: inline-flex;
  flex: 0 0 auto;
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  justify-content: center;
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  padding: 0px 2px;
}

.buttons-button.focused.link-color .text-padding {
  color: #cccccc;
  white-space: nowrap;
}

.buttons-button.sm.default .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.link-color.disabled .text-padding {
  color: #999999;
  white-space: nowrap;
}

.buttons-button.focused.md .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.md.loading .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.link-gray.default .text-padding {
  color: #b3b3b3;
  white-space: nowrap;
}

.buttons-button.link-gray.loading .text-padding {
  color: #b3b3b3;
  white-space: nowrap;
}

.buttons-button.link-gray.disabled .text-padding {
  color: #999999;
  white-space: nowrap;
}

.buttons-button.hover.link-gray .text-padding {
  color: #cccccc;
  font-family: "Syne", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.buttons-button.sm.disabled .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.md.disabled .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.focused.sm .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.default.link-color .text-padding {
  color: #cccccc;
  white-space: nowrap;
}

.buttons-button.link-color.loading .text-padding {
  color: #cccccc;
  white-space: nowrap;
}

.buttons-button.default.md .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.hover.link-color .text-padding {
  color: #e6e6e6;
  font-family: "Syne", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
}

.buttons-button.focused.link-gray .text-padding {
  color: #b3b3b3;
  white-space: nowrap;
}

.buttons-button.sm.loading .text-padding {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.lg.link-gray.disabled .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.lg.link-gray.loading .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.focused.xl.link-color .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.lg.hover.link-gray .text-padding {
  font-size: 16px;
  line-height: 16px;
}

.buttons-button.hover.md.link-color .text-padding {
  font-size: 14px;
  line-height: 14px;
}

.buttons-button.link-gray.xl.loading .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.lg.focused.link-color .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.xl.disabled.link-color .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.default.xl.link-gray .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.lg.default.link-color .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.lg.link-gray.default .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.focused.link-gray.xl .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.hover.link-gray.xl .text-padding {
  font-size: 16px;
  line-height: 16px;
}

.buttons-button.lg.link-color.disabled .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.lg.link-color.loading .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.hover.sm.link-color .text-padding {
  font-size: 14px;
  line-height: 14px;
}

.buttons-button.lg.focused.link-gray .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.hover.sm.link-gray .text-padding {
  font-size: 14px;
  line-height: 14px;
}

.buttons-button.lg.hover.link-color .text-padding {
  font-size: 16px;
  line-height: 16px;
}

.buttons-button.hover.link-gray.md .text-padding {
  font-size: 14px;
  line-height: 14px;
}

.buttons-button.xl.loading.link-color .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.link-gray.xl.disabled .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.hover.xl.link-color .text-padding {
  font-size: 16px;
  line-height: 16px;
}

.buttons-button.default.xl.link-color .text-padding {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.md .text {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.sm .text {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.disabled .text {
  color: #999999;
}

.buttons-button.xl .text {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.lg .text {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.focused.link-color .text {
  color: var(--brand-900);
}

.buttons-button.secondary.default .text {
  color: #cccccc;
}

.buttons-button.primary.hover .text {
  color: #1a1a1a;
}

.buttons-button.primary.loading .text {
  color: #ffffff;
}

.buttons-button.focused.primary .text {
  color: var(--brand-900);
}

.buttons-button.link-gray.default .text {
  color: var(--brand-900);
}

.buttons-button.link-gray.loading .text {
  color: var(--brand-900);
}

.buttons-button.hover.link-gray .text {
  color: var(--brand-900);
}

.buttons-button.default.link-color .text {
  color: var(--brand-900);
}

.buttons-button.focused.secondary .text {
  color: #cccccc;
}

.buttons-button.loading.tertiary .text {
  color: #b3b3b3;
}

.buttons-button.link-color.loading .text {
  color: var(--brand-900);
}

.buttons-button.focused.tertiary .text {
  color: #b3b3b3;
}

.buttons-button.default.tertiary .text {
  color: #b3b3b3;
}

.buttons-button.hover.tertiary .text {
  color: #cccccc;
}

.buttons-button.hover.link-color .text {
  color: var(--brand-900);
}

.buttons-button.focused.link-gray .text {
  color: var(--brand-900);
}

.buttons-button.secondary.hover .text {
  color: #e6e6e6;
}

.buttons-button.secondary.loading .text {
  color: #cccccc;
}

.buttons-button.primary.default.xl .text {
  color: #1a1a1a;
}

.buttons-button.primary.default.md .text {
  color: var(--brand-900);
}

.buttons-button.lg.primary.default .text {
  color: var(--brand-900);
}

.buttons-button.primary.sm.default .text {
  color: var(--brand-900);
}

.buttons-button.md .text-wrapper {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}

.buttons-button.lg .text-wrapper {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.xl .text-wrapper {
  font-family: var(--text-md-semibold-font-family);
  font-size: var(--text-md-semibold-font-size);
  font-style: var(--text-md-semibold-font-style);
  font-weight: var(--text-md-semibold-font-weight);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
}

.buttons-button.sm .text-wrapper {
  font-family: var(--text-sm-semibold-font-family);
  font-size: var(--text-sm-semibold-font-size);
  font-style: var(--text-sm-semibold-font-style);
  font-weight: var(--text-sm-semibold-font-weight);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
}


